@font-face {
  font-family:Inconsolata;
  font-style: normal;
  font-weight:400;
  src: url('../assets/fonts/Inconsolata/Inconsolata-Bold.ttf') format('truetype'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}
